<div class="product-card__wrapper">
    <div class="product-card__img-wrapper">
      <img src="{{ product.featured_image |  img_url: 'medium' }}" class="product-card__img">
    </div>
    <div class="product-card__info">
      <div class="product-card__review-wrapper">
        <div class="product-card__star-wrapper">
          {% render 'icon-star' %}
          {% render 'icon-star' %}
          {% render 'icon-star' %}
          {% render 'icon-star' %}
          {% render 'icon-star' %}
        </div>
        <span class="product-card__review-text">+1000 Happy Costumers</span>
      </div>
      <h6 class="product-card__title">{{ product.title }}</h6>
      <div></div>
      <h6 class="product-card__price">{{ product.price |  money_with_currency }}</h6>
      <button class="product-card__btn">Shop Now</button>
    </div>
  </div>