
.nav-bar__container {
  font-family: 'Avenir Regular';
  position: fixed;
  background-color: rgb(var(--color-background));
  left: 0;
  right: 0;
  height: 62px;
  padding: 0 25px;
  width: 100%;
  transition: top 0.3s;
}


.nav-bar__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
}

.nav-drawer__open-btn svg rect {
  fill: rgb(var(--color-foreground));
}

.nav-bar__brand-logo {
  width: 150px;
}

.nav-bar__menu {
  position: fixed;
  top: 0;
  margin: 0;
  
}



.nav-bar__cart-open-btn svg {
  width: 18.7px;
  height: 22px;
}

.nav-bar__cart-open-btn svg path {
  fill: rgb(var(--color-foreground));
}
