
.nav-bar__container {
  font-family: 'Avenir Regular';
  position: fixed;
  background-color: rgb(var(--color-background));
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 25px;
  width: 100%;
  transition: top 0.3s;
}


.nav-bar__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.nav-drawer__open-btn svg rect {
  fill: rgb(var(--color-foreground));
}

.