.filter-page-width {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.main-grid__filter-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}

.selected-filters-dropdown {
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.selected-filters-dropdown svg {
  position: absolute;
  right: 10px;
}

.dropdown-toggle {
  padding: 12px 14px;
  background-color: white;
  border: none;
  color: #29282C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: 'Avenir Medium';
  font-weight: 600;
  width: 150px;
  height: 45px;
  border: 1px solid #4a4a4a;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  width: 215px;
  top: 135%;
  right: -25px;
}

.dropdown-item {
  padding: 12px 16px;
  display: block;
}

.button-like {
  display: inline-block;
    padding: 8px 16px;
    background-color: white;
    border: 2px solid #174338;
    cursor: pointer;
    margin-bottom: 5px;
    color: #174338;
    font-family: 'Avenir Medium';
    border-radius: 20px;
}

.button-like.active {
  background-color: #174338;
  color: white;

}

.main-grid__filter-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.main-grid__filter-box {
  width: 150px;
  height: 45px;
  border: 1px solid #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
}

.main-grid__filter-box svg rect {
  fill: #29282C;
}

.main-grid__filter-box span {
  font-family: 'Avenir Medium';
  font-size: 16px;
  color: #29282C;
  font-weight: 600;
}

.filter-box__dropdown-menu-wrapper {
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  position: absolute;
  z-index: 10;
}

.filter-box__dropdown-menu {
  padding: 0;
}

.dropdown-menu__item {
  list-style-type: none;
  font-family: 'Avenir Medium';
  color: #29282C;
  
}

.dropdown-menu__item-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-menu__item-label input {
  height: 16px;
  width: 16px;
}

.selected__filter-box {
  width: 150px;
  height: 45px;
  border: 1px solid #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
}

.main-collection-product-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}


@media screen and (min-width: 789px) {
  .filter-page-width {
    flex-direction: row;
    align-items: flex-start;
  }

  .selected-filters-dropdown {
    display: none;
  }
}