.main-grid__filter-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.main-grid__filter-box {
  width: 150px;
  height: 45px;
  border: 1px solid #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
}

.main-grid__filter-box svg rect {
  fill: #29282C;
}

.main-grid__filter-box span {
  font-family: 'Avenir Medium';
  font-size: 16px;
  color: #29282C;
  font-weight: 600;
}

.filter-box__dropdown-menu {
  padding: 0;
}

.dropdown-menu__item {
  list-style-type: none;
  font-family: 'Avenir Regular';
}