.page-width {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.product-card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 285px;
  gap: 10px;
}

.product-card__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 145px;
  border-radius: 6px;
  overflow: hidden;
}

.product-card__img {
  width: 160px;
  height: 145px;
  object-fit: cover;
}

.product-card__info {
  width: 160px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.product-card__review-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.product-card__star-wrapper {
  display: flex;
}

.product-card__star-wrapper svg {
  width: 7.64px;
  height: 7.16px;
}

.product-card__star-wrapper svg path {
  fill: #FFCA00;
}

.product-card__review-text {
  font-size: 9px;
  font-family: "Avenir Regular";
  color: black;
  margin: 0;
  line-height: normal;
}

.product-card__title {
  font-size: 16px;
  font-family: "Avenir Bold";
  text-align: start;
  color: black;
  margin: 0;
  line-height: normal;
}

.product-card__description {
  display: none;
}

.product-card__price {
  font-family: "Avenir Bold";
  font-size: 16px;
  text-align: start;
  color: black;
  margin: 0;
}

.product-card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #A8D58E;
  color: #174338;
  background: #A8D58E;
  outline: none;
  font-family: "Avenir Bold";
  font-size: 13px;
  border-radius: 80px;
  width: 100%;
  padding: 11px 38px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-card__btn:hover {
  background-color: white;
  border-color: #174338;

}


@media screen and (min-width: 789px) {
  
  .product-card__wrapper {
    width: 280px;
    height: 525px;

  }

  .product-card__img-wrapper {
    width: 280px;
    height: 265px;
    border-radius: 15px;
  }

  .product-card__img {
    width: 280px;
    height: 265px;
  }

  .product-card__info {
    width: 280px;
    height: 260px;
    justify-content: space-between;
  }
  .product-card__star-wrapper svg {
    width: 15px;
    height: 15px;
  }

  .product-card__review-text {
    font-size: 16px;
  }

  .product-card__title {
    font-size: 24px;
  }

  .product-card__description {
    font-size: 16px;
    font-family: 'Avenir Medium';
    color: #1b1b1b;
    text-align: start;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    line-height: normal;
  }

  .product-card__price {
    font-family: 24px;
  }

  .product-card__btn {
    font-size: 18px;
    border-radius: 80px;
    padding: 14px 25px;
  }




}