.product-card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 155px;
  height: 285px;
}

.product-card__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 145px;
  border-radius: 6px;
  overflow: hidden;
}

.product-card__img {
  width: 155px;
  height: 145px;
  object-fit: cover;
}

.product-card__info {
  width: 155px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.product-card__review-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.product-card__star-wrapper {
  display: flex;
}

.product-card__star-wrapper svg path {
  fill: #FFCA00;
}

.product-card__review-text {
  font-size: 9px;
  font-family: "Avenir Regular";
}

.product-card