.review__heading {
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: rgb(var(--color-foreground));
}

.review__card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  width: 325px;
  height: 275px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #D0E6CE;
  background: #f2fdec;
  padding: 25px 20px;
}

.review__card-header {
  display: flex;
  align-items: baseline;
  justify-content: start;
  flex-direction: column-reverse;
}

.review__card-name-and-star {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.review__card-user-name {
  font-size: 18px;
  color: black;
  margin: 0;
  line-height: inherit;
}

.review__card-verified-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.review__card-verified-badge span {
  font-size: 17px;
  color: black;
}

.review__card-review {
  font-family: "Avenir Light";
  font-size: 16px;
  font-weight: 300;
  color: black;
  margin: 0;
}