
.review-section {
  background-color: white;
}

.review__heading {
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: rgb(var(--color-foreground));
  font-family: 'Avenir Bold';

}

.review__card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  width: 325px;
  height: 295px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #D0E6CE;
  background: #F2FDEC;
  padding: 25px 20px;
}

.review__card-header {
  display: flex;
  align-items: baseline;
  justify-content: start;
  flex-direction: column-reverse;
}

.review__card-name-and-star {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.review__card-user-name {
  font-size: 18px;
  color: black;
  margin: 0;
  line-height: inherit;
  font-family: "Avenir Bold";
  font-weight: 800;

}

.review__card-verified-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.review__card-verified-badge span {
  font-size: 15px;
  color: black;
  font-family: 'Avenir Regular';
}

.review__card-review {
  font-family: "Avenir Regular";
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin: 0;
}

@media screen and (min-width: 789px) {
  .review__card-wrapper {
    width: 385px;
    height: 385px;
  }

  .review__card-header {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .review__card-name-and-star {
    flex-direction: column;
  }

  .review__card_

  .review__card-user-name {
    font-size: 19px;
  }
}