.review__heading {
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: rgb(var(--color-foreground));
}

.review__card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  
}