.footer {
  background: rgb(var(--color-background)) !important;
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(var(--color-background));
}

.footer__brand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.footer__brand-logo {
  width: 200px;
}

.footer__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.footer__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.footer__contact svg {
  width: 17px;
  height: 17px;
  color: rgb(var(--color-foreground));
}

.footer__contact span {
  display: flex;
  align-items: center;
}

.footer__contact h6 {
  font-size: 19px;
  color: rgb(var(--color-foreground));
  font-family: "Lato Regular";
  margin: 0;
  font-weight: 400;
}

.footer__email span {
  display: flex;
  justify-content: center;
}

.footer__email svg {
  width: 19px;
  color: rgb(var(--color-foreground));
}

.footer__email h6 {
  font-size: 19px;
  color: rgb(var(--color-foreground));
  font-family: "Lato Regular";
  margin: 0;
  font-weight: 400;
}

.footer-menu__list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  padding: 0;
}

.footer-menu__link {
  list-style-type: none;
}

.footer-menu__link a {
  font-family: 'Avenir Regular';
  font-size: 17px;
  color: rgb(var(--color-foreground));
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}

.footer__terms_and_social__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.footer__terms_and_social__wrapper a {
  text-decoration: underline;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Avenir Regular';
  text-transform: none;
}


@media screen and (min-width: 789px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .footer__brand-info {
    align-items: baseline;
  }

  .footer__brand-logo {
    width: 250px;
  }

  .footer__contact h6 {
    font-size: 19px;
  }

  .footer__email h6 {
    font-size: 19px;
  }

  .footer-menu__list-container {
    flex-direction: row;
    border-radius: 50px;
    height: 60px;
    padding: 20px 45px;
    background: ;
  }
}




