.footer {
  background: rgb(var(--color-background)) !important;
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(var(--color-background));
}

.footer__brand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__brand-logo {
  width: 200px;
}

.footer__contact {
  display: flex;
  align-items: c;
}

.footer__contact svg {
  width: 17px;
  height: 17px;
  color: rgb(var(--color-foreground));
}

.footer__contact h6 {
  font-size: 19px;
  color: rgb(var(--color-foreground));
  font-family: "Lato Regular";
}

.footer__email svg {
  width: 19px;
  color: rgb(var(--color-foreground));
}

.footer__email h6 {
  font-size: 19px;
  color: rgb(var(--color-foreground));
  font-family: "Lato Regular";
}

