<div class="left_sidebar">
      <div class="left_sidebar_inner bundle">      
        {% render'shop-all-panels-menu' %}
      </div>
      <button class="mobile-btn">Menu</button>
      <div class="left_sidebar_inner">      
        {% render 'shop-individual-menu' %}
      </div>
 </div>